*{
    font-family: "arial";
    max-height: 100%;
    padding: 0;
    margin: 5px 0 0 0;
}

nav{
    padding: 1em;
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin-left: auto;
}
nav > a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 13px;
}

.google__button{
    height: 20px;
}

.Google__offeredin{
    display: flex;
    width: 45%;
    margin: auto;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 30px;

}

.Google__offeredin > a{
    text-decoration: none;
    margin-bottom: 215px;
    
}



.large__googleimage{
    margin-bottom: 20px;
    width: 290px;
}

main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

input{
    width: 80%;
    padding: 10px;
    border: none;
    outline: 0;

}

.input__container:hover{
    box-shadow: 0 0 2px 2px rgb(240, 239, 239);
}

.input__container{
    border: 0.5px solid rgba(223, 221, 221, 0.67);
    border-radius:30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    
}

.button__container{
    margin-top: 20px;
}

.input__container > img{
    width: 25px;
    height: 25px;
}


.textinput__microphone{
    width: 30px;
    height: 30px;
}



.google__search{
    margin-right: 10px;
    border: none;
    padding: 10px;
    background-color: rgba(245, 244, 244, 0.801);
    outline: 0;
    cursor: pointer; 

}

.google__search:hover{
    box-shadow: 0 0 2px 2px rgb(240, 239, 239);

}



.feeling__search{
    
    border: none;
    padding: 10px;
    background-color: rgba(245, 244, 244, 0.801);
    outline: 0;
    cursor: pointer; 

}

.feeling__search:hover{
    box-shadow: 0 0 2px 2px rgb(240, 239, 239);
}

footer{
       
    background-color:  rgba(226, 226, 226, 0.877);
    
}

.footer__top{
    padding: 1em;
    }

    .footer__top >p{
        color: grey;
        font-size: 13px;
    }



.footer__bottom{
    border-top: 0.5px solid rgb(202, 202, 202);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer__left >a{
    margin-right: 1em;
    text-decoration: none;
    color: grey;
    font-size: 13px;
}

.footer__centre >a{
    text-decoration: none;
    color: grey;
    font-size: 13px;

}

.footer__right >a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    
}
